.bg-blue{
    background-color: #1395ff;
}

.text-color-gray{
    color: #e2e2e2;
}

.height-100vh{
    height: 100vh;
}

.height-100pro{
    height: 100%;
}

.padding-scroll{
    padding-top: 50px;
}

@media(min-width: 768px){
    .padding-scroll{
        padding-top: 100px;
    }
}
/* Navbar */
.navbar{
    z-index: 100;
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: #1395ff;
}



.nav-img{
    height: 40px;
}
.navbar-button{
    width: 30px;
    height: 30px;
}
.navbar-item{
    color: #ffffff;
}

.navbar-item-nav{
    border-bottom: 2px solid #ffffff;
}

.navbar-item-nav:hover{
    color: #bbbbbb;
}

.navbar-item-nav:last-child{
    border-bottom: 2px solid #1395ff;
}



@media(min-width: 768px){
    .navbar-item{
        visibility: visible;
    }

    .nav-img{
        height: 50px;
    }

    .navbar-item-nav:last-child{
        border-bottom: none;
    }

    .navbar-item-nav{
        font-size: 20px;
        text-decoration: none;
        border-bottom: none;
        padding: 10px 0;
        margin: 0 10px;
      }
      
      .navbar-item-nav:hover{
          color: #ffffff;
      }   

      .navbar{
        background-color: #00000000;
        position: absolute;
      }

      .navbar-scroll{
        position: fixed;
        background-color: #1395ff;
        transition: 0.6s;
    }

        .nav-underline{
            width: 0;
            height: 2px;
            background-color: #ffffff; 
            margin: auto;
            border-radius: 10px; 
            transition: width 0.5s;
        }

        .nav-underline-active{
            width: 2px;
        }

        .nav-underline-hover{
            width: 100%;
            transition: width 0.5s;
        }

}

/* Top */

.jumbotron-top{
    background-image: url('../img/strona-obraz-przyklad.jpg');
    background-position: 25% 25%;
    background-repeat: no-repeat;
    padding:0;
}

.top-container{
    background-color: #00000091;
}

.top-content-main{
    margin-top: 5rem;
}

.scroll-top{
    z-index: 110 !important;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: center;
    text-decoration: none;
    
}

.scroll-top:hover{
    text-decoration: none;
}

.scroll-top-icon{
    font-size: 30px;
    color: #666;
    text-decoration: none;
    margin: 10px;
}

.scroll-top-icon:hover{
    color: #666;
    text-decoration: none;

}


@media(min-width: 768px){
    .top-content-main{
        margin-top: 10rem;
    }

    .scroll-top{
        bottom: 50px;
        right:50px;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }

    .scroll-top-icon{
        margin: 25px;
        font-size: 50px;
    }

}



/* O nas */
.about-us-col{
    border: 2px solid #cccccc;
    border-radius: 5px;
}

.about-us-img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

/* Technologie */

.technology{
    margin-bottom: 100px;
}
.technology-item{
    border: 1px solid #1395ff;
    background-color: #ffffff;
    margin: 5px;
}

.technology-img{
    height: 100px;
    display: block;
    margin: auto;
}

/* Kontakt */

.contact{
    background-image: url('../img/contact-bg-img.jpg'); /*Photo by rawpixel on Unsplash*/
    height: 100%;
    background-position: 50% 50%;
}

.contact-bg-img{
   position: absolute;
   overflow: auto;
   z-index: -1;
}

.contact-bg-overlay{
    background-color: #1395ffbd;
}


/* Copyright */